*{
    margin:0;
    padding:0
}
.container{
    width: 100px;
    background-color: white;
    border-width: 4px;
    padding:56px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0.2px 0.2px 2px 1px rgb(177, 175, 175);
}
.items{
    margin-bottom:40px;
    background-color: #E4E5E7;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-image: linear-gradient(to right, #f2f2f2 0%, #d1cfcf 30%, #d9d9d9 50%, #f2f2f2 60%, #f2f2f2 100% );
    animation: loading 2s infinite;
    -webkit-animation: loading 2s infinite;
    background-size: 200%;
}
.items:last-child{
  margin-bottom:0px;
}
@keyframes loading{
    0% {
      background-position: 100%;
    }
    100% {
      background-position: 0%;
    }
  }